In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('~/Downloads/GOOG.csv')

In [7]:
df['Daily Return'] = df.Close.pct_change()

In [12]:
df['Reco'] = df['Daily Return'].apply(lambda x: "Buy" if x < 0 else "Sell")

In [14]:
df[['Date','Close','Daily Return','Reco']]

            Date        Close  Daily Return  Reco
0     2016-08-23   772.080017           NaN  Sell
1     2016-08-24   769.640015     -0.003160   Buy
2     2016-08-25   769.409973     -0.000299   Buy
3     2016-08-26   769.539978      0.000169  Sell
4     2016-08-29   772.150024      0.003392  Sell
...          ...          ...           ...   ...
1253  2021-08-16  2778.320068      0.003685  Sell
1254  2021-08-17  2746.010010     -0.011629   Buy
1255  2021-08-18  2731.399902     -0.005320   Buy
1256  2021-08-19  2738.270020      0.002515  Sell
1257  2021-08-20  2768.739990      0.011127  Sell

[1258 rows x 4 columns]